.sandbox__view {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow: hidden;
}

.sandbox__input {
    flex: 1;
    margin-right: 4px;
    min-width: 350px;
}

.wireframe { flex: 2; margin-left: 4px; overflow: scroll; }

.token {
    background-color: #00000033;
}

.token__NaturalLiteral {
    background-color: rgba(237, 238, 59, 0.2);
}

.token__StringLiteral {
    background-color: rgba(0, 104, 19, 0.2);
}

.token__Variable {
    background-color: rgba(49, 255, 250, 0.2);
}
