@font-face {
    font-family: 'Balsamiq Sans';
    src: url('balsamiqsansregular.eot');
    src: url('balsamiqsansregular.eot?#iefix') format('embedded-opentype'),
         url('balsamiqsansregular.woff2') format('woff2'),
         url('balsamiqsansregular.woff') format('woff'),
         url('balsamiqsansregular.ttf') format('truetype');
         /*url('balsamiqsansregular.svg#balsamiq_sansregular') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('balsamiqsansitalic.eot');
    src: url('balsamiqsansitalic.eot?#iefix') format('embedded-opentype'),
         url('balsamiqsansitalic.woff2') format('woff2'),
         url('balsamiqsansitalic.woff') format('woff'),
         url('balsamiqsansitalic.ttf') format('truetype');
         /*url('balsamiqsansitalic.svg#balsamiq_sansitalic') format('svg');*/
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('balsamiqsansbold.eot');
    src: url('balsamiqsansbold.eot?#iefix') format('embedded-opentype'),
         url('balsamiqsansbold.woff2') format('woff2'),
         url('balsamiqsansbold.woff') format('woff'),
         url('balsamiqsansbold.ttf') format('truetype');
         /*url('balsamiqsansbold.svg#balsamiq_sansbold') format('svg');*/
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Balsamiq Sans';
    src: url('balsamiqsansbolditalic.eot');
    src: url('balsamiqsansbolditalic.eot?#iefix') format('embedded-opentype'),
         url('balsamiqsansbolditalic.woff2') format('woff2'),
         url('balsamiqsansbolditalic.woff') format('woff'),
         url('balsamiqsansbolditalic.ttf') format('truetype');
         /*url('balsamiqsansbolditalic.svg#balsamiq_sansbold_italic') format('svg');*/
    font-weight: bold;
    font-style: italic;
}
